In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv("Livetest2_Module6.csv")
df.head()

,Unnamed: 0,Cd_1,Cd_2,Cd_3,Cd_4,Cd_5,Cd_6,Cd_7,Cd_8,Cd_9,Cd_10,Result
0,1,53.1,63.4,33.0,46.2,47.3,21.2,44.3,36.1,46.6,65.0,Y
1,2,36.9,54.7,31.1,50.5,56.0,38.9,39.4,56.8,33.0,78.8,N
2,3,41.9,65.5,53.5,52.3,92.5,43.2,94.9,64.7,50.8,67.9,N
3,4,71.7,75.6,37.9,50.5,69.2,52.5,82.3,77.3,80.8,60.9,Y
4,5,74.3,51.8,36.4,40.9,74.7,42.2,65.1,36.2,77.6,74.9,Y

In [9]:
df = df.drop('Unnamed: 0',axis=1)
df

KeyError: "['Unnamed: 0'] not found in axis"

In [3]:
target = df['Result']
features = df.drop('Result',axis=1)

In [4]:
features

    Unnamed: 0  Cd_1  Cd_2  Cd_3  Cd_4  Cd_5  Cd_6  Cd_7  Cd_8  Cd_9  Cd_10
0            1  53.1  63.4  33.0  46.2  47.3  21.2  44.3  36.1  46.6   65.0
1            2  36.9  54.7  31.1  50.5  56.0  38.9  39.4  56.8  33.0   78.8
2            3  41.9  65.5  53.5  52.3  92.5  43.2  94.9  64.7  50.8   67.9
3            4  71.7  75.6  37.9  50.5  69.2  52.5  82.3  77.3  80.8   60.9
4            5  74.3  51.8  36.4  40.9  74.7  42.2  65.1  36.2  77.6   74.9
5            6  48.4  83.1  64.1  62.5  67.1  60.7  74.7  71.7  27.1   80.7
6            7  54.9  68.3  62.4  17.5  60.4  25.7  53.2  42.3  59.0   58.7
7            8  47.4  59.4  52.0  14.9  57.2  62.7  66.9  75.2  65.0   75.3
8            9  45.1  79.8  45.5  20.6  45.0  64.4  51.4  73.5  59.3   64.7
9           10  44.9  28.1  51.8  57.6  86.7  53.2  70.3  33.4  81.8   51.8
10          11  74.6  72.6  35.9  40.2  62.9  43.0  45.4  33.6  66.1   76.1
11          12  61.8  77.2  52.1  38.5  87.7  47.5  53.8  69.3  29.9   75.2
12          13  39.7  68.4  58.0  24.3  61.3  34.1  77.9  61.3  44.9   72.6
13          14  55.4  71.9  32.7  55.4  75.7  40.7  59.4  29.6  81.8   59.1
14          15  46.5  51.1  40.5  59.5  51.6  86.6  69.7  91.9  59.3   75.3
15          16  61.7  57.0  34.8  28.5  56.4  58.5  70.8  69.9  64.6   85.7
16          17  41.6  75.2  57.9  41.3  74.5  73.4  34.4  87.4  44.8   65.9
17          18  52.3  66.9  77.3  20.6  77.2  66.0  59.5  68.6  59.1   78.7
18          19  51.3  69.6  53.6  40.9  76.9  82.9  42.5  40.7  51.8   87.3
19          20  44.6  76.0  47.8  37.4  76.8  52.9  64.5  93.0  39.4   58.0
20          21  72.8  90.6  53.5  53.5  85.7  79.8  52.4  71.8  39.1   63.0
21          22  35.6  73.0  62.3  48.9  43.8  68.4  55.6  97.6  54.2   63.3
22          23  38.4  32.9  51.3  29.6  50.4  65.7  67.5  75.7  44.7   78.6
23          24  74.2  50.4   9.9  64.7  60.4  56.0  51.2  57.4  73.9   64.9

In [10]:
target

0     Y
1     N
2     N
3     Y
4     Y
5     N
6     N
7     N
8     N
9     Y
10    Y
11    N
12    N
13    Y
14    N
15    Y
16    N
17    N
18    N
19    N
20    N
21    N
22    N
23    Y
Name: Result, dtype: object

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
scaler.fit(features)

StandardScaler()