# Ahnaf Hasnain Nahiun
## Binary Logistic Regression

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [143]:
df = pd.read_csv("Titanic_full.csv")
df

      Pclass      Fare  Survived
0          3    7.2500         0
1          1   71.2833         1
2          3    7.9250         1
3          1   53.1000         1
4          3    8.0500         0
...      ...       ...       ...
1303       3    8.0500         0
1304       1  108.9000         1
1305       3    7.2500         0
1306       3    8.0500         0
1307       3   22.3583         0

[1308 rows x 3 columns]

In [144]:
from sklearn.model_selection import train_test_split

In [145]:
X_train, X_test, y_train, y_test = train_test_split(df[['Pclass','Fare']], df.Survived, test_size=0.2, random_state=6)

In [146]:
X_train

      Pclass      Fare
614        3    8.0500
1114       1   27.4458
744        3    7.9250
1261       1  134.5000
292        2   12.8750
...      ...       ...
335        3    7.8958
618        2   39.0000
227        3    7.2500
713        3    9.4833
906        2   27.7208

[1046 rows x 2 columns]

In [147]:
X_test

      Pclass      Fare
605        3   15.5500
620        3   14.4542
1247       3    7.8792
14         3    7.8542
1270       3    7.7500
...      ...       ...
1023       3   25.4667
336        1   66.6000
157        3    8.0500
544        1  106.4250
593        3    7.7500

[262 rows x 2 columns]

In [148]:
y_train

614     0
1114    1
744     1
1261    1
292     0
       ..
335     0
618     1
227     0
713     0
906     1
Name: Survived, Length: 1046, dtype: int64

In [149]:
y_test

605     0
620     0
1247    0
14      0
1270    0
       ..
1023    1
336     0
157     0
544     0
593     0
Name: Survived, Length: 262, dtype: int64

In [150]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [151]:
model.fit(X_train, y_train)

LogisticRegression()

In [152]:
y_predicted = model.predict(X_test)

In [153]:
y_predicted

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0],
      dtype=int64)

In [154]:
model.score(X_test,y_test)

0.7061068702290076

In [155]:
model.coef_

array([[-0.43387172,  0.00529036]])

In [156]:
model.intercept_

array([0.32866993])

In [157]:
model.predict([[3,8.0500]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)